.vs/WebBanAoo/FileContentIndex/aac5449a-7a4d-4591-8678-5a696ed2f89a.vsidx
.vs/WebBanAoo/FileContentIndex/fc26e6b4-1fd5-4475-bae7-f07b7b8d3b83.vsidx
.vs/WebBanAoo/FileContentIndex/db29ba3f-bd9d-49bb-bbf3-5cf777ef0f6a.vsidx
.vs/
