
.vs/
.vscode/


bin/
obj/


*.user
*.suo
*.cache
*.ilk
*.pdb
*.aps
*.ncb
*.sdf
*.ipch
*.tlog
*.log
*.lastbuildstate
*.opensdf


_ReSharper*/
*.ReSharper


.idea/


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
.nuget/


*.dotCover
*.coverlet
*.coverage
*.testlog
*.trx
TestResults/


**/docker-compose.override.yml
**/.dockerignore
**/secrets/


*.mdf
*.ldf


iisexpress/


*.ruleset
*.editorconfig
*.vsconfig


.sonar/
